#navbar{
    justify-content: space-between;
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
}
.link{
    text-decoration: none;
    color:rgb(53, 8, 8);
    font-size: large;
}
.link:hover{
    color: white;
}
#navbar1{
    background-color: rgb(72, 136, 72);
    font-size: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
}
.offer{
    color: white;
    background-color: black;
}
